<connectionStrings>
  <!--SQL Server-->
  <!--<add name="IdSvr3Config" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;" providerName="System.Data.SqlClient" />-->
  <!--Postgres-->
  <add name="IdSvr3Config" connectionString="Server=localhost;Port=5432;Database=id3_nhib_test;User Id=postgres;Password=password" />
</connectionStrings>

